* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header .navbar {
  background-color: transparent;
}
header .container-fluid{
  padding: 0;
  margin: 0;
}

.navbar.scrolled {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: auto;
  width: 100%;
}



header .navbar-nav .icon.scrolled{
  color: black;
}



header .navbar-nav .nav-item .nav-link {
  font-size: 30px;
  /* padding: 0 20px; */
  color: whitesmoke;
}

header .dropdown-menu a {
  text-align: center;
  font-size: 18px;
}
/* INTRODUCTION */

.introduction .banner-content h2 {
  display: inherit;
  font-size: 80px;
  color: #f4f4f4;
  font-size: 100px;
  font-weight: 700;
  line-height: 28px;
  margin: 0px 0px 0px -40px;
  text-align: left;
}

.introduction .content {
  padding-left: 40px;
}

.introduction .banner-content .bann-content h3 {
  color: #060606;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin: 0px 0px 24px;
  text-align: left;
}

.introduction .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 219px;
}

.introduction {
  margin-bottom: 120px;
}
.banner-content {
  padding-left: 60px;
}
.bann-content {
  padding-left: 20px;
}
/* Work */
.work {
  padding-bottom: 120px;
}

.work .left-content h5 {
  color: #fb811e;
  font-family: Volkhov;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
}

.work .left-content h3 {
  color: #060606;
  font-family: Volkhov;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin: 0px 0px 16px;
  text-align: left;
}

.work .left-content p {
  color: #707070;
  font-family: Source Sans Pro;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
}

.work .right-content .card {
  margin: 15px 0;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
}
.work .right-content .card:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.work .right-content .card .icon img {
  margin: 15px 0;
  max-width: 65px;
  justify-content: center;
}

.work .right-content .card .work-product a:hover {
  color: #009f4d;
}

/* Service */

.service .service-left-content .h5 {
  color: #ffffff;
  font-family: Volkhov;
  font-size: 22px;
  line-height: 28px;
  margin: 0px 0px 80px;
  text-align: left;
}

.service .service-left-content h3 {
  color: #ffffff;
  font-family: Volkhov;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  text-align: left;
}

.service .service-right-content {
  color: #ffffff;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
}

/* Gallery */
.gallery__caption__pic {
  color: white;
  background-color: grey;
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
  width: 80%;
  padding: auto;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
}
.service .title-bg-content {
  bottom: 90%;
}

.service .card {
  border: none;
}
/* Cards */
.cards__media__custom {
  border: none !important;
}
#media__border__custom {
  border: none !important;
}
.media__custom {
  border: none !important;
}
.thumbnail__img_custom {
  border: none !important;
}
